:root {
    --background-color: #7f7f7f;
    --headings-background-color: #333333;
    --headings-text-color: #ffffff;
}

.basic {
    --background-color: #efefff;
    --headings-background-color: #3f3fff;
    --headings-text-color: ##ffffff;
}
